name: dotnet package

on: [push]

jobs:
  build:

    runs-on: windows-latest
    steps:
    
      - uses: actions/checkout@v2

      - name: Setup dotnet
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '6.0'
      - name: Install dependencies
        run: dotnet restore
        
      - name: Build
        run: dotnet build --configuration Release --no-restore --output "BuildResults"

      - name: Test
        run: dotnet test --logger trx --results-directory "TestResults"

      - name: Upload test results
        uses: actions/upload-artifact@v2
        with:
          name: dotnet-test-results
          path: TestResults

      - name: Upload build results
        uses: actions/upload-artifact@v2
        with:
          name: dotnet-build-results
          path: BuildResults
        if: ${{ always() }}
